/vendor
/node_modules
.env
.env.*
/database/*.sqlite
/storage/logs/*
/storage/framework/*
/public/storage
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/framework/testing/.gitignore
